.navbar-brand{
  font-size: large;
 }
 
 .navbar-collapse{
  font-size: large;
 }

/* Whole document: */
body{
  font-family: 'Josefin Sans', sans-serif;
  color: #5A5A5A;
  font-size: 16px;
}

/* Headers */
h1 {
  color: #1A72BE;
  font-family: 'Josefin Sans', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #499FE6;
  margin-top: 33px;
  padding-top: 18px;
  font-family: 'Josefin Sans', sans-serif;
}


dt {
  clear: left;
  float: left;
  width: 15%;
  font-weight: bold;
  text-align: right;
  padding: 3px 15px 3px 0;
}

dd {
  margin: 0 0 0 20%;
  padding-top: 3px;
  padding-bottom: 3px;
}

img {
  
}
