/* Whole document: */
body{
  font-family: 'Josefin Sans', sans-serif;
  color: #5A5A5A;
  font-size: 16px;
}

/* Headers */
h1 {
  color: #4792B0;
  font-family: 'Josefin Sans', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #72AEB7;
  font-family: 'Josefin Sans', sans-serif;
}




.list-group-item:focus, 
.list-group-item:hover,
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    color: #4792B0 !important;
    background-color: transparent !important;
    border-color: #4792B0 !important;
}

#TOC .nav > li > a:focus,
#TOC .nav > li > a:hover {
    color: #4792B0 !important;
    background-color: transparent !important;
    border-left: 2px solid #4792B0 !important;
}

.tocify-item.active {
    background-color: transparent !important;
    color: #4792B0 !important;
}

.tocify-item:focus {
    color: #4792B0 !important;
    background-color: transparent !important;
}




/* 通常のリンク */
a {
    color: #4792B0 !important;
    text-decoration: none;
}

/* ホバー時のリンク */
a:hover {
    color: #357089 !important;  /* 少し暗めの色 */
    text-decoration: underline;
}

/* クリック済みのリンク */
a:visited {
    color: #4792B0 !important;
}




dt {
  clear: left;
  float: left;
  width: 10%;
  font-weight: bold;
  text-align: right;
  padding: 3px 15px 3px 0;
}

dd {
  margin: 0 0 0 20%;
  padding-top: 3px;
  padding-bottom: 3px;
}

img {
  
}

